@model IEnumerable<TransactionListViewModel>

<div class="content">
    <partial name="_Navbar" />
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa-solid fa-euro-sign fa-lg" style="color: #28b715;"></i>
                    <div class="ms-3">
                        <p class="mb-2 text-wrap">TodaySale</p>
                        <h6 class="mb-0">@ViewBag.TodaySale</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa-solid fa-euro-sign fa-lg" style="color: #28b715;"></i>
                    <div class="ms-3">
                        <p class="mb-2 text-wrap">Total Sales</p>
                        <h6 class="mb-0">@ViewBag.TotalSales</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa-solid fa-euro-sign fa-lg" style="color: #28b715;"></i>
                    <div class="ms-3">
                        <p class="mb-2 text-wrap">Profit From Rent This Month</p>
                        <h6 class="mb-0">@ViewBag.RentThisMonth</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa-solid fa-euro-sign fa-lg" style="color: #28b715;"></i>
                    <div class="ms-3">
                        <p class="mb-2 text-wrap">Expected Profit From Rent This Year</p>
                        <h6 class="mb-0">@ViewBag.TotalRent</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa-solid fa-euro-sign fa-lg" style="color: #b72615;"></i>
                    <div class="ms-3">
                        <p class="mb-2 text-wrap">Total Expenses</p>
                        <h6 class="mb-0">@ViewBag.Expenses</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa-solid fa-euro-sign fa-lg" style="color: #28b715;"></i>
                    <div class="ms-3">
                        <p class="mb-2 text-wrap">Best Sell This Year</p>
                        <h6 class="mb-0">@ViewBag.BestSellThisYear</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa-solid fa-euro-sign fa-lg" style="color: #28b715;"></i>
                    <div class="ms-3">
                        <p class="mb-2 text-wrap">Best Rent This Year</p>
                        <h6 class="mb-0">@ViewBag.BestRentThisYear</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa-solid fa-euro-sign fa-lg" style="color: #28b715;"></i>
                    <div class="ms-3">
                        <p class="mb-2 text-wrap">Total Profit</p>
                        <h6 class="mb-0">@ViewBag.TotalProfit</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sale & Revenue End -->
    <!-- Sales Chart Start -->
    @*<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
    <div class="col-sm-12 col-xl-6">
    <div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
    <h6 class="mb-0">Worldwide Sales</h6>
    <a href="">Show All</a>
    </div>
    <canvas id="worldwide-sales"></canvas>
    </div>
    </div>
    <div class="col-sm-12 col-xl-6">
    <div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
    <h6 class="mb-0">Salse & Revenue</h6>
    <a href="">Show All</a>
    </div>
    <canvas id="salse-revenue"></canvas>
    </div>
    </div>
    </div>
    </div>*@
    <!-- Sales Chart End -->
    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Recent Transactions</h6>
                <a asp-controller="Transaction" asp-action="Index">See All</a>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-dark">
                            <th scope="col">Date</th>
                            <th scope="col">Seller</th>
                            <th scope="col">Buyer</th>
                            <th scope="col">PropertyName</th>
                            <th scope="col">TransactionType</th>
                            <th scope="col">Status</th>
                            <th scope="col">TotalPrice</th>
                        </tr>
                    </thead>
                    @if(Model != null)
                    {
                        
                        foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <th>@item.Date</th>
                                    <td>@item.OwnerName</td>
                                    <td>@item.BuyerName</td>
                                    <td>@item.PropertyName</td>
                                    <td>@item.TransactionType</td>
                                    <th>@item.Status</th>
                                    <td>@item.TotalPrice</td>
                                </tr>
                            </tbody>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>
